<link rel="stylesheet" href="css/detail.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/video.css">

<div class="detail-container">
    <div class="detail-left-section">
        <div class="detail-head">
            <img class="detail-logo" src="{{product.appIcon.0.path}}" alt="">
            <div class="detail-head-title">
                <h3>{{product.name}}</h3>
                <div class="detail-rating">
                    <img class="detail-rating-icon" src="./img/ratings/rating-{{product.rating.stars}}.png" alt="">
                    <p class="header-rating-number">{{product.rating.count}} review</p>
                </div>
            </div>
        </div>

        <div class="description-container">
            <hr>
            <h4>Description</h4>
            {{product.description}}
        </div>

        <div class="version-detail">
            <hr>
            <h4>About this version</h4>
            <p>Version {{product.versionNumber}}, {{dateFormat product.createdAt 'dd/MM/yyyy'}}</p>
            <p>{{product.versionDescription}}</p>
        </div>

        <div class="image-video-container">
            <hr>
            <h4>Screenshots and Videos</h4>

            <div class="preview-content">
                <div class="preview-container">
                    <video style="display: none;" id="video-viewer" width="320" height="240" controls>
                        <source src="" type="video/mp4">
                    </video>
                    <img id="image-viewer" src="{{product.images.0.path}}" alt="">
                </div>

                <div class="thumbnail-content">
                    <div class="thumbnail-container">
                        <ul class="thumbnail-slider">

                            {{#each product.images}}

                            <li class="thumbnail-item">
                                <div class="thumbnail-image-container">
                                    <img class="thumbnail-image" src="{{this.path}}" alt="">
                                </div>
                            </li>

                            {{/each}}

                        </ul>

                        <div id="prevBtn"></div>
                        <div id="nextBtn"></div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="detail-right-section">
        <h4>Trial</h4>
        <button class="download-button">Download</button>
        <button class="add-to-cast-button">Add to Wishlist</button>

        <div class="info-container">
            <div class="info-detail">
                <p class="info-left">Download Size:</p>
                <p class="info-right">{{humanFileSize product.file.0.size}}</p>
            </div>
            
            <div class="info-detail">
                <p class="info-left">Release Date:</p>
                <p class="info-right">{{dateFormat product.createdAt 'dd/MM/yyyy'}}</p>
            </div>

            <div class="info-detail">
                <p class="info-left">Last Updated:</p>
                <p class="info-right">{{dateFormat product.updatedAt 'dd/MM/yyyy'}}</p>
            </div>

            <div class="info-detail">
                <p class="info-left">Version Info:</p>
                <p class="info-right">{{product.versionNumber}}</p>
            </div>

            <div class="info-detail">
                <p class="info-left">Website:</p>
                <a class="info-right" href="">https://alltosoftware.com</a>
            </div>

            <div class="info-detail">
                <p class="info-left">Cust. Support:</p>
                <a class="info-right" href="">https://alltosoftware.com</a>
            </div>

            <div>
                <hr>
                <br>
                <h4>Compatible with:</h4>
                <p>Allplan
                    <br><b>Version:</b> 2024, 2023, 2022, 2021
                </p>
            </div>

            <div>
                <hr>
                <br>
                <h4>More apps from this pulisher</h4>
                <div style="height: 150px" class="product">
                    <a href="../../detail.html">
                        <div class="product-header">
                            <img src="./data/products/allto-admin/images/ALLTOAdmin.png" alt="">
                            <h3>Allto Software</h3>
                        </div>
                
                        <div class="product-rating">
                            <img class="rating-icon" src="./img/ratings/rating-50.png" alt="">
                            <p class="rating-number">1000</p>
                        </div>
                
                        <p class="product-price">Trial</p>
                    </a>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>

<script src="scripts/detail.js"></script>