<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/search.css">
<link rel="stylesheet" href="/css/category.css">

<div class="main-container">
    <div class="main">
        <div class="left-section">
            <ul class="categories">
                {{#each categories}}
                    <li><a href="">{{this.name}}</a></li>
                {{/each}}
            </ul>
        </div>

        <div class="right-section">
            <div class="search-container">
                <input class="search-bar" type="text" placeholder="Search product here...">
            </div>
            <div class="content-section">
                <div class="products" data-products="{{products}}">
                    {{#each products}}
                        <div class="product">
                            <a href="/detail?id={{this._id}}">
                                <div class="product-header">
                                <img src="{{this.appIcon.0.path}}" alt="">
                                <h3>{{this.name}}</h3>
                            </div>

                            <div class="product-description">
                                {{this.shortDescription}}
                            </div>

                            <div class="product-rating">
                                <img class="rating-icon" src="./img/ratings/rating-{{this.rating.stars}}.png" alt="">
                                <p class="rating-number">{{this.rating.count}}</p>
                            </div>

                            <p class="product-price">Trial</p>
                            </a>
                            
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- <script type="module" src="scripts/render/render-home.js"></script> --}}
